<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KOSIEA 회원관리 시스템</title>
    <meta name="description" content="한국 스마트 혁신기업가 협회 회원관리 시스템" />
    <meta name="keywords" content="회원관리, 회원관리 시스템" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="KOSIEA 회원관리 시스템" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../assets/media/logos/KOSIEA_LOGO_COLOR.svg" />
    <meta property="og:description" content="한국 스마트 혁신기업가 협회 회원을 위한 관리 시스템 입니다." />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link href="../assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<style>
    .image-input [data-kt-image-input-action=change] {
        left: 50%;
        top: 50%;
        border-radius: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    #kt_app_toolbar_container,
    #kt_app_content_container {
        margin:0 !important;
    }
    #kt_app_content_container {
        max-width: 1000px !important;
    }
    .menu-item .menu-link {
        padding-left: 0 !important;
    }
    #FILE_LOCATION2 {
        background-size:contain;
        background-position:center;
    }
    @media (max-width: 992px) {
        .col-lg-5 {
            flex: 0 0 auto;
            width: 70%;
        }
        .col-lg-5 + .col-lg-5  {
            width: 30%;
        }
        .row > .col-lg-4 {
            width: 33.3334%;
            padding: 0 0.4rem;
        }
    }
</style>
<script th:inline="javascript">

    // var test = [[${userDTO}]];
    // console.log(test, 'test')

    // 로그아웃
    async function logout(type){
        if(!type) {
            if(!confirm("로그아웃 하시겠습니까?")) return;
        }
        await fetch('/logout', {
            method:'post',
        })
            .then(()=>{location.replace('/login')})
            .catch(e=>console.log(e));
    };

    // 데이터 입력 검증 로직
    const validateInput = (id, message) => {
        var element = document.getElementById(id);

        if (element.value === "") {
            alert(message);
            element.focus();
            return false;
        }
        return true;
    }

    const userUpdate = () => {
        // 비밀번호 입력 체크
        if(!validateInput('password', '비밀번호를 입력해주세요.')) {
            return false;
        }

        // 이름 입력 체크
        if(!validateInput('name', '이름을 입력해주세요.')) {
            return false;
        }

        // 성별 입력 체크
        var selectedGender = document.querySelector('input[name="gender"]:checked');
        if (!selectedGender)  {
            alert('성별을 선택해주세요.');
            return false;
        }

        // 업종 입력 체크
        if(!validateInput('kob', '업종을 입력해주세요.')) {
            return false;
        }

        // 소속 입력 체크
        if(!validateInput('company', '소속을 입력해주세요.')) {
            return false;
        }

        // 직책 입력 체크
        if(!validateInput('position', '직책을 입력해주세요.')) {
            return false;
        }

        // 생년월일 입력값 가져오기
        var birthdayValue = document.getElementById('birthday').value;
        // 생년월일이 비어있는지 확인
        if (birthdayValue.trim() === '') {
            alert('생년월일을 입력해주세요.');
            return false;
        }

        // 음력 체크 여부 및 음력 생일 입력 확인
        var checkYn = document.getElementById('lunar_yn');
        if(checkYn.checked) {
            var lunarValue = document.getElementById('lunar').value;
            if (lunarValue.trim() === '') {
                alert('음력생일을 입력해주세요.');
                return false;
            }
        }

        // 직장주소 입력 체크
        if(!validateInput('addr1-1', '직장주소를 검색해주세요.')) {
            return false;
        }

        // 직장주소 입력 체크
        if(!validateInput('addr1-2', '직장주소를 검색해주세요.')) {
            return false;
        }

        // 직장주소 입력 체크
        if(!validateInput('addr2-1', '자택주소를 검색해주세요.')) {
            return false;
        }

        // 직장주소 입력 체크
        if(!validateInput('addr2-2', '자택주소를 검색해주세요.')) {
            return false;
        }

        // 연락처 입력 체크
        if(!validateInput('tel[0]', '연락처를 입력해주세요.')) {
            return false;
        }
        if(!validateInput('tel[1]', '연락처를 입력해주세요.')) {
            return false;
        }
        if(!validateInput('tel[2]', '연락처를 입력해주세요.')) {
            return false;
        }

        // 폼데이터 전송
        account_form.action = "/update";
        account_form.method = "post";
        document.account_form.submit();
    }

    // 초기화 버튼 클릭
    function userReset() {

        // 프로필 사진 초기화
        document.getElementById('kt_account_profile_details_form').reset();

        // 비밀번호 초기화
        document.getElementById('password').value = '';

        // 성별 초기화
        document.getElementById('male').checked = false;
        document.getElementById('female').checked = false;

        // 업종, 소속, 직책 초기화
        document.getElementById('kob').value = '';
        document.getElementById('company').value = '';
        document.getElementById('position').value = '';

        // 생년월일 초기화
        document.getElementById('birthday').value = '';
        document.getElementById('lunar_yn').checked = false;

        // 음력 생일 초기화
        document.getElementById('lunar').value = '';

        // 직장 주소 초기화
        document.getElementById('addr1-1').value = '';
        document.getElementById('addr1-2').value = '';

        // 자택 주소 초기화
        document.getElementById('addr2-1').value = '';
        document.getElementById('addr2-2').value = '';

        // 명절 희망 배송지 초기화
        document.getElementById('home').checked = false;
        document.getElementById('co').checked = false;

        // 이미지 초기화
        $('[data-kt-image-input-action="cancel"]').click();

        // 음력 칸 hidden
        toggle_lunar_birthday_visible();
    }
</script>
<body id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
<script>
    var defaultThemeMode = "light";
    var themeMode;
    if ( document.documentElement ) {
        if ( document.documentElement.hasAttribute("data-bs-theme-mode")) {
            themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
        } else {
            if ( localStorage.getItem("data-bs-theme") !== null ) {
                themeMode = localStorage.getItem("data-bs-theme");
            } else {
                themeMode = defaultThemeMode;
            }
        }
        if (themeMode === "system") {
            themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
        }
        document.documentElement.setAttribute("data-bs-theme", themeMode);
    }
</script>
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
    <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
        <div id="kt_app_header" class="app-header" data-kt-sticky="true"
             data-kt-sticky-activate="{default: true, lg: true}" data-kt-sticky-name="app-header-minimize"
             data-kt-sticky-offset="{default: '200px', lg: '0'}" data-kt-sticky-animation="false">
            <div class="app-container container-fluid d-flex align-items-stretch justify-content-between"
                 id="kt_app_header_container">
                <div class="d-none menu menu-rounded menu-column menu-lg-row my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0"
                     id="kt_app_header_menu" data-kt-menu="true">
                    <div data-kt-menu-placement="bottom-start"
                         class="menu-item menu-here-bg menu-lg-down-accordion me-0 me-lg-2">
                        <span class="menu-link">
                              <span class="menu-title">회원정보</span>
                        </span>
                    </div>
                </div>
                <div class="" style="flex: 1">
                    <div data-kt-menu-placement="bottom-start"
                         class="menu-item menu-here-bg menu-lg-down-accordion me-0 me-lg-2">
                        <span class="menu-link">
                              <span class="menu-title">회원정보</span>
                        </span>
                    </div>
                </div>
                <div style="padding-top: 0.65rem; flex: 1" class="text-center">
                    <a href="/" class="d-lg-none">
                        <img alt="Logo" src="../assets/media/logos/KOSIEA_LOGO_COLOR.svg" class="h-35px"/>
                    </a>
                </div>
                <div style="flex: 1;" class="text-end d-lg-none">
                    <div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_sidebar_mobile_toggle">
                        <i class="ki-duotone ki-abstract-14 fs-2 fs-md-1">
                            <img class="" src="../assets/media/icons/hamberger.png"></img>
                        </i>
                    </div>
                </div>
                <div class="d-none d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                    <a href="/" class="d-lg-none">
                        <img alt="Logo" src="../assets/media/logos/KOSIEA_LOGO_COLOR.svg" class="h-35px"/>
                    </a>
                </div>
                <div class="d-none d-flex align-items-end d-lg-none ms-n3 me-1 me-md-2" title="Show sidebar menu">
                    <div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_sidebar_mobile_toggle">
                        <i class="ki-duotone ki-abstract-14 fs-2 fs-md-1">
                            <img class="" src="../assets/media/icons/hamberger.png"></img>
                        </i>
                    </div>
                </div>
                <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1"
                     id="kt_app_header_wrapper">
                    <div class="app-header-menu app-header-mobile-drawer align-items-stretch" data-kt-drawer="true"
                         data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}"
                         data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="end"
                         data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true"
                         data-kt-swapper-mode="{default: 'append', lg: 'prepend'}"
                         data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
                    </div>
                </div>
            </div>
        </div>
        <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
            <div id="kt_app_sidebar" style="overflow:hidden;" class="app-sidebar flex-column" data-kt-drawer="true"
                 data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}"
                 data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="start"
                 data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                <div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
                    <a href="/">
                        <img alt="Logo" src="../assets/media/logos/KOSIEA_LOGO_WHITE.svg"
                             class="h-45px app-sidebar-logo-default"/>
                        <img alt="Logo" src="../assets/media/logos/KOSIEA_LOGO_WHITE.svg"
                             class="h-45px app-sidebar-logo-minimize"/>
                    </a>
                    <div id="kt_app_sidebar_toggle"
                         class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary h-30px w-30px position-absolute top-50 end-0 translate-middle rotate"
                         data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body"
                         data-kt-toggle-name="app-sidebar-minimize">
                        <i class="ki-duotone ki-black-left-line fs-3 rotate-180">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </div>
                </div>
                <div class="app-sidebar-menu overflow-hidden flex-column-fluid">
                    <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
                        <div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true"
                             data-kt-scroll-activate="true" data-kt-scroll-height="auto"
                             data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
                             data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px"
                             data-kt-scroll-save-state="true">
                            <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6"
                                 id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
                                <div class="menu-item">
                                    <a class="menu-link" href="/form">
                                       <span class="menu-icon">
                                          <i class="ki-duotone ki-user fs-2">
                                             <span class="path1"></span>
                                             <span class="path2"></span>
                                             <span class="path3"></span>
                                          </i>
                                       </span>
                                        <span class="menu-title">회원정보</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link" href="/search">
                                       <span class="menu-icon">
                                          <i class="ki-duotone ki-address-book fs-2">
                                             <span class="path1"></span>
                                             <span class="path2"></span>
                                             <span class="path3"></span>
                                          </i>
                                       </span>
                                        <span class="menu-title">회원조회</span>
                                    </a>
                                </div>
                                <div class="menu-item mt-5" style="position: absolute; bottom: 0; width: 100%" >
                                    <button onclick="logout();" class="btn btn-secondary" style="width: 100%;">
                                        <div>로그아웃</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                <div class="d-flex flex-column flex-column-fluid">
                    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
                        <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                                    회원 정보 등록
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div id="kt_app_content" class="app-content flex-column-fluid">
                        <div id="kt_app_content_container" class="app-container container-xxl">
                            <div class="card mb-5 mb-xl-10">
                                <div id="kt_account_settings_profile_details" class="collapse show">
                                    <form id="kt_account_profile_details_form" name="account_form" class="form" enctype="multipart/form-data">
                                        <div class="card-body border-top p-9">
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label fw-semibold fs-6">프로필 사진</label>
                                                <div class="col-lg-7">
                                                    <div class="image-input image-input-outline" th:classappend="${userDTO.FILE_LOCATION == null || userDTO.FILE_LOCATION == '' ? 'image-input-empty' : ''}"
                                                         data-kt-image-input="true"
                                                         style="background-image: url('../assets/media/svg/avatars/blank.svg')">
                                                        <div class="image-input-wrapper w-125px h-125px"
                                                             id="FILE_LOCATION1"
                                                             th:style="${userDTO.FILE_LOCATION != null} ?
                                                             'background-image: url(' + ${userDTO.FILE_LOCATION} + ');' :
                                                             'background-image: '+ ${userDTO.FILE_LOCATION} +';'
                                                            ">
                                                        </div>
                                                        <label class="btn btn-icon btn-circle btn-active-color-primary bg-body shadow"
                                                               data-kt-image-input-action="change"
                                                               data-bs-toggle="tooltip" title="프로필 사진 변경">
                                                            <input type="file" name="avatar"
                                                                   accept=".png, .jpg, .jpeg"/>
                                                            <input type="hidden" name="avatar_remove"/>
                                                        </label>
                                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                              data-kt-image-input-action="cancel"
                                                              data-bs-toggle="tooltip" title="프로필 사진 제거">
                                                          <i class="ki-duotone ki-cross fs-2">
                                                             <span class="path1"></span>
                                                             <span class="path2"></span>
                                                          </i>
                                                       </span>
                                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                              data-kt-image-input-action="remove"
                                                              data-bs-toggle="tooltip" title="프로필 사진 제거">
                                                      <i class="ki-duotone ki-cross fs-2">
                                                         <span class="path1"></span>
                                                         <span class="path2"></span>
                                                      </i>
                                                   </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label fw-semibold fs-6">명함 사진</label>
                                                <div class="col-lg-7">
                                                    <div class="image-input image-input-outline" th:classappend="${userDTO.FILE_LOCATION2 == null || userDTO.FILE_LOCATION2 == '' ? 'image-input-empty' : ''}"
                                                         data-kt-image-input="true"
                                                         style="background-image: url('../assets/media/svg/files/blank-image.svg'); background-size: 200px 125px;">
                                                        <div class="image-input-wrapper w-200px h-125px"
                                                             id="FILE_LOCATION2"
                                                             th:style="${userDTO.FILE_LOCATION2 != null} ?
                                                            'background-image: url(' + ${userDTO.FILE_LOCATION2} + ');' :
                                                            'background-image: '+ ${userDTO.FILE_LOCATION2} +';'
                                                            ">
                                                        </div>
                                                        <label class="btn btn-icon btn-circle btn-active-color-primary bg-body shadow"
                                                               data-kt-image-input-action="change"
                                                               data-bs-toggle="tooltip" title="명함 사진 변경">
                                                            <input type="file" name="avatar2"
                                                                   accept=".png, .jpg, .jpeg"/>
                                                            <input type="hidden" name="avatar_remove2"/>
                                                        </label>
                                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                              data-kt-image-input-action="cancel"
                                                              data-bs-toggle="tooltip" title="명함 사진 제거">
                                                                    <i class="ki-duotone ki-cross fs-2">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                    </i>
                                                        </span>
                                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                              data-kt-image-input-action="remove"
                                                              data-bs-toggle="tooltip" title="명함 사진 제거">
                                                                    <i class="ki-duotone ki-cross fs-2">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                    </i>
                                                        </span>
                                                    </div>
                                                    <div class="form-text">수첩에 인쇄될 사진이므로 높은 해상도 사진을 올려주세요.</div>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">비밀번호</label>
                                                <div class="col-lg-7 fv-row">
                                                    <input type="password" name="password" id="password"
                                                           class="form-control form-control-lg form-control-solid"
                                                           placeholder="비밀번호 입력"/>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">이름</label>
                                                <div class="col-lg-7 fv-row">
                                                    <input type="text" name="name" id="name"
                                                           class="form-control form-control-lg form-control-solid"
                                                           placeholder="이름" th:value="${userDTO.NAME}" readonly/>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">성별</label>
                                                <div class="col-lg-7 fv-row">
                                                    <div class="d-flex align-items-center mt-3">
                                                        <label class="form-check form-check-custom form-check-inline form-check-solid me-5">
                                                            <input class="form-check-input" id="male" name="gender" type="radio"
                                                                   value="남성" th:checked="${userDTO.GENDER == '남성'}"/>
                                                            <span class="fw-semibold ps-2 fs-6">남성</span>
                                                        </label>
                                                        <label class="form-check form-check-custom form-check-inline form-check-solid">
                                                            <input class="form-check-input" id="female" name="gender" type="radio"
                                                                   value="여성" th:checked="${userDTO.GENDER == '여성'}"/>
                                                            <span class="fw-semibold ps-2 fs-6">여성</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">업종</label>
                                                <div class="col-lg-7 fv-row">
                                                    <input type="text" name="kob" id="kob"
                                                           class="form-control form-control-lg form-control-solid"
                                                           placeholder="업종" th:value="${userDTO.KOB}"/>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">소속</label>
                                                <div class="col-lg-7 fv-row">
                                                    <input type="text" name="company" id="company"
                                                           class="form-control form-control-lg form-control-solid"
                                                           placeholder="소속" th:value="${userDTO.COMPANY}"/>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">직책</label>
                                                <div class="col-lg-7 fv-row">
                                                    <input type="text" name="position" id="position"
                                                           class="form-control form-control-lg form-control-solid"
                                                           placeholder="직책" th:value="${userDTO.POSITION}"/>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">생년월일</label>
                                                <div class="col-lg-7 fv-row">
                                                    <div class="row mt-3 mb-3">
                                                        <div class="col-lg-5">
                                                            <input type="date" name="birthday" id="birthday"
                                                                   class="form-control form-control-lg form-control-solid"
                                                                   placeholder="생년월일" th:value="${userDTO.BIRTHDAY}"/>
                                                        </div>
                                                        <div class="col-lg-5" style="display:flex; align-items:center;">
                                                            <label class="form-check form-check-custom form-check-inline form-check-solid me-5">
                                                                <input class="form-check-input" name="lunar_yn" id="lunar_yn"
                                                                       type="checkbox" value="1" th:checked="${userDTO.LUNAR_YN == 1}"/>
                                                                <span class="fw-semibold ps-2 fs-6">음력</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-6" id="LUNAR_BIRTHDAY" style="display:none;">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">음력생일</label>
                                                <div class="col-lg-7 fv-row">
                                                    <div class="fv-row mt-3">
                                                        <input type="date" name="lunar_birthday" id="lunar"
                                                               class="form-control form-control-lg form-control-solid"
                                                               placeholder="음력 생년월일"
                                                               th:value="${userDTO.LUNAR}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">직장주소</label>
                                                <div class="col-lg-7">
                                                    우편번호
                                                    <div class="row mt-3 mb-3">
                                                        <div class="col-lg-5">
                                                            <input type="tel"
                                                                   class="form-control form-control-lg form-control-solid"
                                                                   name="addr1-1" id="addr1-1" th:value="${postalCode}" size="5"
                                                                   readonly/>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <button type="button" class="btn btn-primary"
                                                                    id="kt_account_profile_details_submit"
                                                                    onclick="execDaumPostcode1();">검색
                                                            </button>
                                                        </div>
                                                    </div>
                                                    주소
                                                    <div class="row mt-3">
                                                        <div class="col-lg-12">
                                                            <input type="text" name="addr1-2" id="addr1-2"
                                                                   class="form-control form-control-lg form-control-solid"
                                                                   th:value="${address}" size="50">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">자택주소</label>
                                                <div class="col-lg-7">
                                                    우편번호
                                                    <div class="row mt-3 mb-3">
                                                        <div class="col-lg-5">
                                                            <input type="tel" name="addr2-1" id="addr2-1"
                                                                   class="form-control form-control-lg form-control-solid"
                                                                   th:value="${postalCode2}" size="5" readonly>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <button type="button" class="btn btn-primary"
                                                                    id="kt_account_profile_details_submit"
                                                                    onclick="execDaumPostcode2();">검색
                                                            </button>
                                                        </div>
                                                    </div>
                                                    주소
                                                    <div class="row mt-3">
                                                        <div class="col-lg-12">
                                                            <input type="text" name="addr2-2" id="addr2-2"
                                                                   class="form-control form-control-lg form-control-solid"
                                                                   th:value="${address2}" size="50">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">명절 선물 희망 배송지</label>
                                                <div class="col-lg-7 fv-row">
                                                    <div class="d-flex align-items-center mt-3">
                                                        <label class="form-check form-check-custom form-check-inline form-check-solid me-5">
                                                            <input class="form-check-input" id="home" name="gift_yn" type="radio"
                                                                   value="자택" th:checked="${userDTO.GIFT_YN == '자택'}"/>
                                                            <span class="fw-semibold ps-2 fs-6">자택</span>
                                                        </label>
                                                        <label class="form-check form-check-custom form-check-inline form-check-solid">
                                                            <input class="form-check-input" id="co" name="gift_yn" type="radio"
                                                                   value="직장" th:checked="${userDTO.GIFT_YN == '직장'}"/>
                                                            <span class="fw-semibold ps-2 fs-6">직장</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-6">
                                                <label class="col-lg-3 col-form-label required fw-semibold fs-6">연락처</label>
                                                <div class="col-lg-7">
                                                    <div class="row">
                                                        <input type="hidden" name="origin_tel[0]" th:value="${tel1}">
                                                        <input type="hidden" name="origin_tel[1]" th:value="${tel2}">
                                                        <input type="hidden" name="origin_tel[2]" th:value="${tel3}">
                                                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                                            <input type="tel" name="tel[0]" id="tel[0]"
                                                                   class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                                                                   th:value="${tel1}" size="3" readonly>
                                                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                                        </div>

                                                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                                            <input type="tel" name="tel[1]" id="tel[1]"
                                                                   class="form-control form-control-lg form-control-solid"
                                                                   th:value="${tel2}" size="4" readonly>
                                                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                                        </div>

                                                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                                            <input type="tel" name="tel[2]" id="tel[2]"
                                                                   class="form-control form-control-lg form-control-solid"
                                                                   th:value="${tel3}" size="4" readonly>
                                                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-end py-6 px-9">
                                            <button class="btn btn-light btn-active-light-primary me-2" type="button" onclick="userReset()">초기화</button>
                                            <button type="button" class="btn btn-primary" id="kt_account_profile_details_submit" onclick="userUpdate();">저장</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <i class="ki-duotone ki-arrow-up">
        <span class="path1"></span>
        <span class="path2"></span>
    </i>
</div>
<script>var hostUrl = "assets/";</script>
<script src="../assets/plugins/global/plugins.bundle.js"></script>
<script src="../assets/js/scripts.bundle.js"></script>
<script>
    const $LUNAR_BIRTHDAY = $('input[name="lunar_yn"][type="checkbox"]');

    const toggle_lunar_birthday_visible = () => {
        const lunar_birthday_checked = $LUNAR_BIRTHDAY.prop('checked');

        if (lunar_birthday_checked) {
            $('#LUNAR_BIRTHDAY').css('display', 'flex');
        } else {
            $('#LUNAR_BIRTHDAY').css('display', 'none');
        }
    };

    toggle_lunar_birthday_visible();

    $LUNAR_BIRTHDAY.on('change', toggle_lunar_birthday_visible);

</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function execDaumPostcode1() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== '') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('addr1-1').value = data.zonecode;
                document.getElementById('addr1-2').value = roadAddr + extraRoadAddr;
            }
        }).open();
    }

    function execDaumPostcode2() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== '') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('addr2-1').value = data.zonecode;
                document.getElementById('addr2-2').value = roadAddr + extraRoadAddr;
            }
        }).open();
    }
</script>
</body>
</html>